.bubble {
  width: min(80%, 350px);
  height: 90px;
  @include verticalCenter;
  flex-direction: column;
  border-radius: 30px;
  margin: 0.7rem 0;
  padding: 0.5rem 1rem;
  &.clickable {
    transition: 0.4s;
  }
  span {
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
  }
  b {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  em {
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    text-align: center;
    width: 100%;
  }
}
