.bubble {
  background: red;
  width: 80%;
  height: 90px;
  @include verticalCenter;
  flex-direction: column;
  border-radius: 30px;
  margin: 1rem auto;
  padding: 1rem;
  p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: center;
  }
}
