.decor-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  filter: brightness(0.8) saturate(1.5);
  @include laptop {
    background-attachment: fixed;
  }
}
