.installations {
  background: $bg-color;
  .intro-annexe {
    &__bg-media {
      height: calc(0.4 * $vh-mobile);
      @include tablet {
        height: calc(0.5 * $vh-mobile);
      }
      @include desktop {
        height: calc(0.5 * $vh-desktop);
      }
    }
    &__description {
      height: calc(0.6 * $vh-mobile);
      @include tablet {
        height: calc(0.5 * $vh-mobile);
      }
      @include desktop {
        height: calc(0.5 * $vh-desktop);
      }
      p {
        line-height: max(1.5rem, 7vw);
        font-size: 0.9rem;
        padding-bottom: 1rem;
        @include tablet {
          line-height: max(1.8rem, 5.5vw);
        }
        @media screen and (max-height: 750px) {
          font-size: 0.75rem;
        }
        @include laptop {
          line-height: max(2rem, 4vw);
          font-size: 1rem;
          width: 90%;
        }
        @include desktop {
          line-height: 2.9rem;
          width: 85%;
        }
      }
    }
  }
}
