.contacts {
  @include verticalCenter;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: $vh-mobile;
  @include desktop {
    height: $vh-desktop;
  }
  @include tablet {
    height: auto;
  }
  @include desktop {
    padding-bottom: 2rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: $main-color;
    letter-spacing: normal;
    margin: 2rem 0 1.5rem;
    @include underline($main-color);
  }
}
