@mixin verticalCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin underline($color) {
  position: relative;
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: $color;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -0.1rem;
  }
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoint, tablet)) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: map-get($breakpoint, laptop)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoint, desktop)) {
    @content;
  }
}
