@mixin verticalCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin underline($color) {
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: $color;
    position: absolute;
    left: 0;
    bottom: -0.1rem;
  }
}
