.home {
  height: 300vh;
  &__presentation {
    height: 100vh;
    &__video {
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: brightness(0.6) grayscale(10%);
    }
  }
}
