.proprietaires {
  width: 100%;
  &__prestations {
    @include verticalCenter;
    flex-direction: column;
    height: $vh;
    h1 {
      display: inline-block;
      margin: 1rem auto 3rem;
      font-size: 1.7rem;
      font-weight: 700;
      color: $main-color;
      letter-spacing: normal;
      @include underline($main-color);
      &:after {
        width: 120%;
        transform: translateX(-50%);
        left: 50%;
        bottom: -0.8rem;
      }
    }
  }
}
