.cours {
  .intro-annexe {
    &__bg-media {
      &--image {
        background-repeat: no-repeat;
        background-position: 0 -50px;
        @include laptop {
          background-position: 0 -210px;
        }
        @include desktop {
          background-position: 0 -350px;
        }
      }
    }
  }
}
