.cours__tarifs {
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
  margin: 0 auto;
  height: $vh-mobile;
  @include desktop {
    height: $vh-desktop;
  }
  &--bg {
    position: absolute;
    background-image: url("/assets/images/cours.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: brightness(0.75) saturate(1.5);
    @include desktop {
      background-attachment: fixed;
    }
  }
  h1 {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding: 1.3rem 1.3rem 1rem;
    margin-bottom: 1.5rem;
    @include underline(white);
    &:after {
      width: 300px;
    }
    &:nth-of-type(2) {
      margin-top: 2rem;
      &:after {
        width: 0;
      }
    }
    @include desktop {
      &:after {
        width: min(80%, 780px);
      }
    }
  }
  &--content {
    @include verticalCenter;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 80%;
    @include desktop {
      align-items: start;
      flex-direction: row;
      width: min(80%, 800px);
      flex-wrap: wrap;
      align-content: start;
    }
  }
  @include desktop {
    height: 400px;
  }
}
