.proprietaires__details {
  background: $main-color;
  min-height: $vh-mobile;
  @include desktop {
    height: $vh-desktop;
  }
  position: relative;
  padding-bottom: 2rem;
  h1 {
    color: $bg-color;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 1.3rem 1.3rem 1rem;
    margin-bottom: 1.5rem;
    @include underline($bg-color);
    &:after {
      width: 300px;
      @include tablet {
        width: 450px;
      }
      @include laptop {
        width: 650px;
      }
      @include desktop {
        width: 1100px;
      }
    }
  }
  &--bubbles {
    width: 100%;
    @include verticalCenter;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      align-content: center;
      margin: 1rem auto 0;
      width: 1100px;
    }
  }
  @include desktop {
    min-height: auto;
  }
}
