.burger-slider {
  position: fixed;
  background: white;
  z-index: 1000;
  height: $vh-mobile;
  @include desktop {
    height: $vh-desktop;
  }
  width: 100%;
  @include verticalCenter;
  flex-direction: column;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  @media screen and (max-height: 700px) {
    justify-content: start;
  }
  &__logo {
    background-image: url("/assets/images/logo.jpg");
    background-size: cover;
    height: 170px;
    width: 170px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    font-family: "Crimson Text", serif;
    font-size: 1.75rem;
    a {
      cursor: pointer;
      width: 100%;
      height: 100%;
      text-align: center;
      align-content: center;
      color: black;
      &:hover {
        color: $main-color;
        transform: scale(1.05);
        transition: all 0.1s ease-in-out;
      }
      &:last-child {
        color: $secondary-color;
        font-weight: bold;
      }
    }
    &--item {
      &.active {
        color: $main-color;
        font-weight: bold;
      }
    }
  }
}
