.main {
  @include desktop {
    width: min(80%, 1000px);
    margin: auto;
  }
  &__presentation {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: min(50px, 12vw) 40px 60px;
    box-sizing: border-box;
    height: $vh-mobile;
    @include laptop {
      justify-content: space-evenly;
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @include desktop {
      height: calc(0.6 * $vh-desktop);
      padding-left: 0;
      padding-right: 0;
    }
    h1 {
      font-weight: 700;
      font-size: 1.6rem;
      color: $secondary-color;
      letter-spacing: normal;
      position: relative;
      width: 100%;
      text-align: center;
      &:after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: $main-color;
        position: absolute;
        left: 0;
        bottom: -1rem;
      }
      @include tablet {
        font-size: 2rem;
      }
    }
    p {
      font-size: min(0.85rem, 3.7vw);
      line-height: min(1.5rem, 6vw);
      margin-bottom: 1rem;
      &:first-of-type {
        margin-top: 3rem;
      }
      @include tablet {
        font-size: max(0.92rem, 2.3vw);
        line-height: min(2.4rem, 6vw);
      }
      @include laptop {
        font-size: 1.1rem;
        line-height: 2.5rem;
      }
      @include desktop {
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
}
