.main {
  &__presentation {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 60px 40px;
    box-sizing: border-box;
    height: $vh;
    h1 {
      font-weight: 700;
      font-size: 1.6rem;
      color: $secondary-color;
      letter-spacing: normal;
      position: relative;
      width: 100%;
      text-align: center;
      &:after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: $main-color;
        position: absolute;
        left: 0;
        bottom: -1rem;
      }
    }
    p {
      font-size: 0.85rem;
      line-height: 1.55rem;
      margin-bottom: 1rem;
      &:first-of-type {
        margin-top: 3rem;
      }
    }
  }
}
