.stable-life {
  background: $main-color;
  height: 600px;
  padding-bottom: 2rem;
  @include laptop {
    background: none;
    padding-bottom: 5rem;
    height: 1000px;
  }
  .stable-life--title {
    padding: 1rem;
    @include verticalCenter;
    background: $main-color;
    height: 15%;
    @include laptop {
      width: 250px;
      margin: 0 auto 2rem;
      border-radius: 25px;
      height: 100px;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      color: $bg-color;
      letter-spacing: normal;
      position: relative;
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: $bg-color;
        position: absolute;
        left: 0;
        bottom: -0.1rem;
      }
    }
  }
  .stable-life--carousel {
    overflow: hidden;
    border-radius: 20px;
    margin: 0 0.5rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.21);
    height: 85%;
    @include laptop {
      border: 5px solid $main-color;
      border-radius: 25px;
    }
  }
}
