.navbar {
  @include desktop {
    display: none;
  }
  z-index: 1000;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-color: white;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  overflow: hidden;
  &--logo {
    background-image: url("/assets/images/logo.jpg");
    background-size: cover;
    height: 90px;
    width: 90px;
  }
  .menu-burger {
    height: 50px;
    aspect-ratio: 1/1;
    cursor: pointer;
    .line {
      height: 4px;
      width: 100%;
      background-color: $main-color;
      margin: 10px 0;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      &.active {
        &:first-child {
          animation: openBurgerUp 0.7s ease-in-out forwards;
        }
        &:nth-child(2) {
          transform: scale(0);
        }
        &:last-child {
          animation: openBurgerDown 0.7s ease-in-out forwards;
        }
      }
      &.inactive {
        &:first-child {
          animation: closeBurgerUp 0.7s ease-in-out forwards;
        }
        &:nth-child(2) {
          transition: all 0.8s ease-in-out;
          transform: scale(1);
        }
        &:last-child {
          animation: closeBurgerDown 0.7s ease-in-out forwards;
        }
      }
    }
  }
}

@keyframes openBurgerUp {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(14px);
  }
  88% {
    transform: translateY(14px) rotate(48deg);
  }
  94% {
    transform: translateY(14px) rotate(43deg);
  }
  100% {
    transform: translateY(14px) rotate(45deg);
  }
}

@keyframes openBurgerDown {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(-14px);
  }
  88% {
    transform: translateY(-14px) rotate(-48deg);
  }
  94% {
    transform: translateY(-14px) rotate(-43deg);
  }
  100% {
    transform: translateY(-14px) rotate(-45deg);
  }
}

@keyframes closeBurgerUp {
  100% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(14px);
  }
  12% {
    transform: translateY(14px) rotate(48deg);
  }
  6% {
    transform: translateY(14px) rotate(43deg);
  }
  0% {
    transform: translateY(14px) rotate(45deg);
  }
}

@keyframes closeBurgerDown {
  100% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(-14px);
  }
  12% {
    transform: translateY(-14px) rotate(-48deg);
  }
  6% {
    transform: translateY(-14px) rotate(-43deg);
  }
  0% {
    transform: translateY(-14px) rotate(-45deg);
  }
}
.navbar-desktop {
  display: none;
  @include desktop {
    $navbar-height: 100px;
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: white;
    height: $navbar-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    overflow: hidden;
    &--logo {
      background-image: url("/assets/images/logo.jpg");
      background-size: cover;
      height: 120px;
      width: 120px;
    }
    &--item {
      position: relative;
      text-align: center;
      height: $navbar-height;
      line-height: $navbar-height;
      font-family: Crimson Text, serif;
      font-size: 1.3rem;
      color: $text-color;
      font-weight: normal;
      margin: 0 1rem;
      @include underline($main-color);
      &:before {
        content: "";
        position: absolute;
        height: 3px;
        border-radius: 50px;
        width: 100%;
        top: 0;
        transform: translateX(-50%);
        left: 50%;
        background-color: $secondary-color;
        opacity: 0;
      }
      &.active {
        color: $main-color;
        font-weight: bold;
        &:before {
          content: "";
          position: absolute;
          height: 3px;
          border-radius: 50px;
          width: 100%;
          top: 0;
          transform: translateX(-50%);
          left: 50%;
          background-color: $secondary-color;
          opacity: 1;
        }
      }
      &:hover {
        transition: all 0.2s ease-in-out;
        color: $secondary-color;
        &:before {
          transition: all 0.2s ease-in-out;
          opacity: 1;
        }
      }
    }
  }
}
